/*
 * Print Styles
 * --------------------------------------------------
 *
 *
 */

body {
  font-size: 11px;
}

h1 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 8px;
}

h2 {
  font-size: 13px;
  margin-bottom: 8px;
}

h3 {
  font-size: 12px;
  margin-bottom: 8px;
}

h2, h3, h4, h5, h6, ul, img {
   page-break-after: avoid;
}

